OPINET_CERT_KEY=발급받은_오피넷_API_인증키
OPINET_REGIONS=ALL:전국,01:서울,02:경기,03:강원,04:충북,05:충남,06:전북,07:전남,08:경북,09:경남,10:부산,11:제주,14:대구,15:인천,16:광주,17:대전,18:울산,19:세종
OPINET_FUELS=B027:휘발유,D047:경유
OPINET_COUNT=20
